{% extends "base.html" %}
{% block list_teams_active %}active{% endblock %}
{% block content %}
<div {% if error|length == 0 %} hidden {% endif %}class="alert alert-warning" role="alert">
    {{error}}
</div>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
      <th scope="col">Team Name</th>
      <th scope="col">Team ID</th>
      <th scope="col"></th>
      <th scope="col"></th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
    <tr>
      <form action="" method="post" class="form-control">
        <th scope="row">
          <input type="text" name="team_name" placeholder="My Team" class="form-control" required>
        </th>
        <td></td>
        <td></td>
        <td>
          <input type="submit" name="button" class="btn btn-primary" value="Create Team" >
        </td>
      </form>
    </tr>
    {% for team_name in teams_to_id %}
    <tr>
      <form action="" method="post" class="form-control">
        <th scope="row"><input type="text" readonly class="form-control-plaintext fw-bold" value="{{team_name}}"></th>
        <td><input type="text" readonly class="form-control-plaintext" value="{{teams_to_id[team_name]}}"></td>
        <td>
          <input type="hidden" name="team_name" value="{{team_name}}" >
          <input type="submit" name="button" class="btn btn-primary" value="View Stats" >
        </td>
        <td>
          <input type="hidden" name="team_name" value="{{team_name}}" >
          <input type="submit" name="button" class="btn btn-primary" value="Edit Team" >
        </td>
      </form>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}  