<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <script type='text/javascript' src="{{ url_for('static', filename='js/jquery-3.6.3.js')}}"></script>
    <title>{% block title %}{% endblock %}</title>
  </head>
  <div class="container" {% block hide_header %}{% endblock %}>
    <header class="d-flex justify-content-center py-2">
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="{{url_for('index')}}" class="nav-link {% block index_active %}{% endblock %}" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="{{url_for('list_players')}}" class="nav-link {% block list_players_active %}{% endblock %}">{% block list_manage_player %}Manage Players{% endblock %}</a></li>
        <li class="nav-item"><a href="{{url_for('list_teams')}}" class="nav-link {% block list_teams_active %}{% endblock %}">{% block list_manage_team %}Manage Teams{% endblock %}</a></li>
        <li class="nav-item"><a href="{{url_for('list_games')}}" class="nav-link {% block list_games_active %}{% endblock %}">{% block list_manage_game %}Manage Games{% endblock %}</a></li>
        <li class="nav-item"><a href="{{url_for('execute_sql')}}" class="nav-link {% block list_sql_active %}{% endblock %}">MySQL</a></li>
      </ul>
    </header>
    <br>
    <hr>
    <br>
  </div>
  <body>
    <div class="container" >{% block content %}{% endblock %}</div>
  </body>
  <script>
    if ( window.history.replaceState ) {
      window.history.replaceState( null, null, window.location.href );
    }
  </script>
  {% block script %}
  {% endblock %}
</html>

