{% extends "base.html" %}
{% block title %}Manage Teams{% endblock %}
{% block list_teams_active %}active{% endblock %}
{% block list_manage_team %}Return to Manage Teams{% endblock %}
{% block content %}
<div {% if error|length == 0 %} hidden {% endif %}class="alert alert-warning" role="alert">
    {{error}}
</div>
<h1 class="text-center">{{curr_team_name}}</h1>

<form action="" method="post" class="form-control">
  <div class="input-group">
    <input type="text" name="new_name" placeholder="New Team Name" class="form-control" required>
    <input type="submit" name="button" class="btn btn-primary" value="Rename Team" >
  </div>
</form> 

{% include 'create_player.html'%}

<form action="" method="post" class="form-control w-10">
  <th scope="row" colspan="4">
    <input type="hidden" name="button" value="Add Existing Player">
    <div class="input-group">
      <select class="form-select" name="player_name">
        {% for player_name  in base_players %}
        <option value="{{player_name}}" >{{player_name}}</option>
        {% endfor %}
      </select>
      <button class="btn btn-primary" type="submit">Add Existing Player</button>
    </div>
  </th>
  <td></td>
  <td></td>
</form>


<div class="table-responsive">
  <table class="table">
     <thead>
      <tr>
        <th scope="col">Player Name</th>
        <th scope="col">Player ID</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead> 
    <tbody class="table-group-divider">
    {% for player_id, player_name, transferable_team in team_players_info %}
    <tr>
      <form action="" method="post"  class="form-control">
        <input type="hidden" name="player_id" value="{{player_id}}" >
        <th scope="row"><input type="text" readonly class="form-control-plaintext fw-bold" value="{{player_name}}"></th>
        <td><input type="text" readonly class="form-control-plaintext" value="{{player_id}}"></td>
        <td>
          <input type="submit" name="button" class="btn btn-primary form-control" value="View Stats" >
        </td>
        <td class="text-end">
          <input type="submit" name="button" class="btn btn-warning form-control" value="Remove Player From Team" >
        </td>
      </form>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}